// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   11-08-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 11-08-2017

ngzio-waveform {
  .waveContainer {
    position: relative;
    //background: rgba(34, 34, 34, 0.12);
    max-width: 400px;
    margin:30px auto;

    p {
      position: absolute;
      width: 100%;
      top: 25%;
    }

    canvas {
      transform: rotate(180deg);
      max-width: 400px;
      width: 100%;
      //height: 100px;
      //height: 100%;
      margin-bottom: -2px;
      //border-top: solid 2px color($colors, dark, base);
    }
  }
}
